.dart_tool/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GoogleService-Info.plist
android/.gradle/
firebase-debug.log
*-debug.log
.firebase/
.env
.secret/
GoogleService-Info.plist
.claude/
.vscode/
.idea/
*.iml
